.sidebar-container {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    row-gap: 3vw;
}

.container {
    display: flex;
    justify-content: center;
}

.side-btn {
    background-color: white;
    border: none;
    width: 5vw;
    height: 4vw;
}

.icon-img {
    width: 3vw;
    height: 3vw;
}

.forum-img {
    width: 3.5vw;
    height: 3.5vw;
}

.modal-content {
    width: 30vw;
    position: relative;
}

.form-control {
    border: none;
}

.search-filter {
    margin-top: 1vw;
    width: 70%;
    font-size: 1rem;
    border-radius: 5px;
}

.submit-btn {
    font-size: 1rem;
    border-radius: 5px;
}

.submit-btn:hover {
    background: #beb9be linear-gradient(to bottom, #e0dae0 5%, #ededed 100%);
}

.forum-container {
    display: flex;
    flex-direction: column;
    margin-left: 0.3vw;
}

.offcanvas.show:not(.hiding), .offcanvas.showing {
    width: 27vw;
}

.offcanvas-title {
    font-size: 2.2vw;
}

.line-break {
    height: 1px;
    background-color: #a2a0a0;
    width: 100%;
}

.com-container {
    margin-top: 2vw;
}

.card-header-title {
    font-size: 1.5vw;
}

.body-txt {
    font-size: 1.2vw;
}

.com-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vw;
}

.card-title {
    font-size: 1.2vw;
}

.card-text {
    font-size: 1vw;
}

.foot-container {
    position: relative;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
}

.com-img {
    display: block;
    width: 100%;
    transition: opacity 0.3s ease;
}

.foot-container:hover .com-img {
    opacity: 0.7;
}

.com-btn {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.foot-container:hover .com-btn {
    display:inline-block;
    box-shadow:inset 0 1px 0 0 #d9fbbe;
    background: #b8e356 linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
    border-radius:6px;
    border:1px solid #83c41a;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0 1px 0 #86ae47;
}

/* Media Queries */
@media screen and (max-width: 400px) {
    .sidebar-container {
        position: absolute;
        left: 5vw;
        top: 70vw;
        flex-direction: row;
        column-gap: 15vw;
        margin: 2vw 10vw;
    }

    .container {
        margin: 0;
    }

    .side-btn {
        width: 18vw;
        height: 13vw;
        margin-bottom: 2vw;
        z-index: 10;
    }

    .icon-img {
        width: 10vw;
        height: 10vw;
    }

    .container {
        margin-top: 1vw;
    }

    .modal-content {
        width: 80vw;
    }

    .search-filter {
        margin-top: 1vw;
        width: 70%;
        font-size: 4vw;
    }

    .submit-btn {
        font-size: 4vw;
    }

    .forum-container {
        margin-left: 0.5vw;
    }

    .forum-img {
        width: 12vw;
        height: 12vw;
    }

    .offcanvas-title {
        font-size: 6vw;
    }

    .body-txt {
        font-size: 3.5vw;
    }

    .card-header-title {
        font-size: 4vw;
    }

    .com-img {
        width: 67vw;
        height: 40vw;
        margin: 0;
    }

    .offcanvas.show:not(.hiding) {
        width: 75vw;
    }

    .com-card-body {
        row-gap: 2vw;
    }

    .sub-card {
        width: 68vw;
    }

    .card-title {
        font-size: 4vw;
    }

    .card-text {
        font-size: 3vw;
    }


}