.food-background {
    display: flex;
    position: relative;
    background-color: #f3eadd;
    height: 100vh;
}

.food-background::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(238, 238, 100, 0.8);
    z-index: 1;
    clip-path: ellipse(40% 55% at 10% 50%);
}

.header-container {
    display: flex;
}

.roulette-container {
    cursor: default;
    margin: 5vw 30vw 0 5vw;
    z-index: 3;
}

.roulette-title {
    font-size: 4vw;
    font-weight: 800;
    text-align: start;
    color: #FF5733;
    width: 40vw;
}

.roulette-desc {
    margin-top: 2vw;
    font-size: 1.5vw;
    width: 35vw;
}

.img-container {
    height: 8vw;
    position: relative;
    left: 9.5vw;
}

.back-img {
    width: 5vw;
    height: 5vw;
    background-color: white;
    border-radius: 40px;
    margin: 3vw 1vw 0 4vw;
}

.wheel {
    position: absolute;
    top: 11vw;
    left: 57vw;
    width: 27vw;
    height: 27vw;
    border-radius: 50%;
    border: 2px solid #000;
    overflow: hidden;
    transition: transform 3s ease-in-out;
    z-index: 3;
}

.spinButton {
    position: absolute;
    width: 3.1vw;
    height: 3.1vw;
    top: 23vw;
    left: 69vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 4;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    letter-spacing: 0.1vw;
    border: 1px solid black;
    cursor: pointer;
    user-select: none;
}

.spinButton::before {
    content: '';
    position: absolute;
    bottom: 3vw;
    left: 0.92vw;
    width: 1.1vw;
    height: 1.6vw;
    background: #ffffff;
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}

.roulette-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    transform-origin: bottom right;
    clip-path: polygon(0 0, 45% 0, 100% 100%, 0 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.roulette-item span {
    position: relative;
    transform: rotate(45deg);
    font-size: 1.1vw;
    font-weight: 500;
    color: #ffffff;
    margin-left: 1.5vw;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    /* Adjust styles for screens smaller than 768px */
    .food-background::after {
        clip-path: ellipse(70% 30% at 50% 10%);
    }

    .roulette-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5vw 10vw 5vw 5vw;
    }

    .roulette-title {
        font-size: 5vw;
        text-align: center;
        width: 70vw;
    }

    .roulette-desc {
        font-size: 2.5vw;
        width: 80vw;
    }

    .img-container {
        height: 10vw;
        position: absolute;
        left: 85%;
        z-index: 5;
    }

    .back-img {
        width: 7vw;
        height: 7vw;
    }

    .wheel {
        top: 50vw;
        left: 17vw;
        width: 65vw;
        height: 65vw;
    }

    .spinButton {
        width: 8vw;
        height: 8vw;
        top: 79vw;
        left: 45.5vw;
        font-size: 2vw;
    }

    .spinButton::before {
        bottom: 7.8vw;
        left: 3vw;
        width: 2vw;
        height: 5vw;
    }

    .roulette-item span {
        font-size: 2.5vw;
        margin-left: 1vw;
    }
}