.food-background {
    display: flex;
    align-items: center;
    background-color: #f3eadd;
    min-height: 100%;
    cursor: default;
}

.food-background::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(238, 238, 100, 0.8);
    z-index: 1;
    clip-path: ellipse(35% 55% at 10% 50%);
}

/*Left-side*/
.food-desc-container {
    display: flex;
    z-index: 5;
    height: 100vh;
}

.food-txt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.roulette-title {
    font-size: 4vw;
    font-weight: 800;
    color: #FF5733;
    width: 40vw;
    margin-left: 3vw;
}

.roulette-desc {
    margin-top: 2vw;
    font-size: 1.5vw;
    width: 35vw;
    margin-left: 3vw;
}

.img-container {

}

.back-img {
    width: 5vw;
    height: 5vw;
    background-color: white;
    border-radius: 40px;
    margin-top: 5vw;
}

/*Right-side*/
.wheel-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.wheel {
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    border: 2px solid #000;
    overflow: hidden;
    transition: transform 3s ease-in-out;
    z-index: 3;
    margin-left: 2vw;
}

.spinButton {
    position: absolute;
    width: 4vw;
    height: 4vw;
    top: 28vw;
    left: 65.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 10;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    letter-spacing: 0.1vw;
    border: 1px solid black;
    cursor: pointer;
    user-select: none;
}

.spinButton:hover {
    background: #bab1ba linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
}

.spinButton::before {
    content: '';
    position: absolute;
    bottom: 3.8vw;
    left: 1.1vw;
    width: 1.7vw;
    height: 2.5vw;
    background: #ffffff;
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}

.spinButton:hover::before {
    background: #bab1ba linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);

}

.roulette-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    transform-origin: bottom right;
    clip-path: polygon(0 0, 45% 0, 100% 100%, 0 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.roulette-item span {
    position: relative;
    transform: rotate(45deg);
    font-size: 2vw;
    font-weight: 500;
    color: #ffffff;
    margin-left: 1.5vw;
}

/* Media Queries */
@media screen and (max-width: 400px) {
    .food-background {
        flex-direction: column;
    }

    .food-background::after {
        clip-path: ellipse(70% 25% at 50% 5%);
    }

    .food-desc-container {
        height: 100%;
    }

    .food-txt-container {
        align-items: center;
        justify-content: inherit;
        height: 30vh;
    }

    .roulette-title {
        font-size: 8vw;
        text-align: center;
        width: 70vw;
        margin: 6vw 0 2vw 0;
    }

    .roulette-desc {
        font-size: 3vw;
        width: 80vw;
        margin: 0;
        text-align: center;
    }

    .img-container {
        z-index: 10;
    }

    .back-img {
        width: 10vw;
        height: 10vw;
    }

    .wheel-container {
        height: 70vh;
    }

    .wheel {
        width: 70vw;
        height: 70vw;
        margin: 0 0 7vw 0;
    }

    .spinButton {
        width: 9vw;
        height: 9vw;
        top: 128vw;
        left: 45.5vw;
        font-size: 2.5vw;
        font-weight: bold;
        z-index: 10;
    }

    .spinButton::before {
        bottom: 8.5vw;
        left: 2.8vw;
        width: 3vw;
        height: 7vw;
        border: 1px solid black;
    }

    .roulette-item span {
        font-size: 3vw;
        margin-left: 2vw;
    }
}